# Files in PyLibRTA
__pycache__
rtalibconfig
activate_virtual_env.sh
PyRTAlib/*.pyc
PyRTAlib/__pycache__
PyRTAlib/*-info
PyRTAlib/DataModels/*.pyc
PyRTAlib/DataModels/__pycache__
PyRTAlib/DBConnectors/*.pyc
PyRTAlib/DBConnectors/__pycache__
PyRTAlib/RTAInterface/*.pyc
PyRTAlib/RTAInterface/__pycache__
PyRTAlib/Utils/*.pyc
PyRTAlib/Utils/__pycache__



sites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
bin/*
obj/*
conf/*


# Files
*.cbp
*.depend
*.layout
*.png
*.cts
*.txt
*.cts.gz
*.swp
*.save
*.gz
*.fits
*.json
