activate_virtual_env.sh

pks1510-089.fits

push.sh
performance_pyrtalib*
# Files in PyLibRTA
rtalibconfig_*
rtalibconfig_default
rtalibconfig_testing
rtalibconfig_test
PyRTAlib/rtalibconfig
/PyRTAlib/PyRTAlib/Utils/PerformancePlot.py
PyRTAlib/TestEnvironment/rtalibconfig
PyRTAlib/TestEnvironment/export_env_var.sh
rtalibconfig
PyRTAlib/UNKNOWN.egg-info/
PyRTAlib/dist/
dtr_conf.ini

# Files in CxxRATlib
CxxRTAlib/CxxRTAlib/bin/testRTAlib
CxxRTAlib/TestEnvironment/rtalibconfigUTest
/CxxRTAlib/TestEnvironment/rtalibconfigPTest
/CxxRTAlib/TestEnvironment/jsonPerfTest*
rtalibconfigPTest/CxxRTAlib/TestEnvironment/

testRTAlib
rtalibconfig

CxxRTAlib/TestEnvironment/bin/

__pycache__/

# File in PyLibRTA package
PyRTAlib/PyRTAlib/__pycache__
PyRTAlib/PyRTAlib/*.pyc
PyRTAlib/PyRTAlib/__pycache__
PyRTAlib/PyRTAlib/*-info
PyRTAlib/PyRTAlib/DataModels/*.pyc
PyRTAlib/PyRTAlib/DataModels/__pycache__
PyRTAlib/PyRTAlib/DBConnectors/*.pyc
PyRTAlib/PyRTAlib/DBConnectors/__pycache__
PyRTAlib/PyRTAlib/RTAInterface/*.pyc
PyRTAlib/PyRTAlib/RTAInterface/__pycache__
PyRTAlib/PyRTAlib/DTRInterface/*.pyc
PyRTAlib/PyRTAlib/DTRInterface/__pycache__
PyRTAlib/PyRTAlib/Utils/*.pyc
PyRTAlib/PyRTAlib/Utils/__pycache__

PyRTAlib/dump.rdb

coverage_html_report/
coverage_annotated_sources/
coverage.xml
.coverage.combined
cov_results/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
CxxRTAlib/bin/*
obj/*
conf/*
obj_c/*


# Files
*.cbp
*.depend
*.layout
*.png
*.cts
*.txt
*.cts.gz
*.swp
*.save
*.gz
*.fits
*.json
